addict==2.4.0
audioread==3.0.0
cachetools==5.3.1
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.3
decord==0.6.0
einops==0.6.0
filelock==3.12.3
ftfy==6.1.1
fvcore==0.1.5.post20221221
gdown==4.7.1
google-auth-oauthlib==1.0.0
gpustat==1.0.0
grpcio==1.57.0
iopath==0.1.10
librosa==0.10.0.post2
littleutils==0.2.2
loralib==0.1.2
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random==1.2.2
mmcv==1.7.1
model-index==0.1.11
msgpack==1.0.5
nvidia-ml-py==11.495.46
ogb==1.3.6
opencv-python==4.7.0.72
openmim==0.3.6
outdated==0.2.2
portalocker==2.7.0
psutil==5.9.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pytz==2022.7.1
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.3.2
rsa==4.9
soundfile==0.12.1
soxr==0.3.4
tb-nightly==2.14.0a20230808
tensorboard-data-server==0.7.1
termcolor==2.2.0
timm==0.4.12
torch==1.10.1
wcwidth==0.2.6
wilds==1.2.2
yacs==0.1.8
Werkzeug==2.3.7
tensorboardX==2.6
Pygments==2.14.0